
{%  extends "_base.html" %}

{% block title %}home_list{% endblock title %}


   {% block content %}
       <h1>this is home</h1>
       <div class="container mt-4">
            <div class ="row">
                <div class="col-9">
                        <div class="card my-4">
                            <h5 class="card-header">About</h5>
                            <div class="card-body">
                                <p class="card-text">This is a page about Fashion,We talk about concept fashion and sustainablefashionÒc
                                 </p>
                                <a href="#"
                                   class="btn btn-sm btn-danger">
                                    More...
                                </a>
                            </div>
                        </div>

                </div>
            </div>
       </div>
   {% endblock content %}